<h1> Most Dangerous Day </h1>
<h2> <%= @asteroids.date_range[0].strftime("%B %e, %Y") %> - <%= @asteroids.date_range[1].strftime("%B %e, %Y") %> </h2>
<div>
  <p> Most dangerous day in range: <%= %> </p>
</div>
